.jumbotron {
  background-image: url("https://artmill.blob.core.windows.net/cms/image/cbe6fe78e3784a38be9f6f9b3633cdaa/artmill-65-types-of-photography-with-examples-and-tutorials_1.jpg");
  border-radius: 0.5em;
}

.jumbotron h1.display-3 {
  color: white;
  font-size: 2.5em;
}

.jumbotron p {
  color: white;
}

.jumbotron .lead .btn-primary {
    color: #fff;
    background-color: #0098cf;
    border-color: #0098cf;
    border-radius: 0.5em;
}

.dropdown button {
  width: 100%;
  background: #0098cf;
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 0.5em;
  height: 3em;
}

.twbs h3 {
    font-size:16px;
}

.twbs .fa-bookmark, .fa-camera, .fa-caret-square-o-up {
    margin-right: .5em;
}

.twbs .photo-credit span {
    margin-left: .5em;
}

.twbs .photography-style-section {
    border-bottom: 1px solid #eaedf0;
    padding: 1em 0 3em 0;
}

.twbs .back-to-top {
    text-align: center;
    margin-top: 2em;
    float: right;
}

.additional-resources {
    float: left;
}

.twbs h2 {
    margin-bottom: 1em;
}

.twbs .col-md-4 {
    margin-top: 2em;
}

.twbs .img-responsive {
    border-radius: 0.5em;
}
